
#nav1{

    width: 100%;
    background-color: rgba(28, 133, 54, 0.623);
    list-style-type: none;
    /* nav do topo */
}

nav{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    /*Nav geral*/
}

a{
    color: rgba(29, 23, 23, 0.76);
    font-size: 15px;
    border-radius: 5px;
    padding: 10x 10px;
    list-style-type: none;
    text-decoration: none;
}
a:hover{
    background-color: forestgreen;
    height: fit-content;
    
}